custom:
  initializr:
    javaVersions:
      - id: 1.8
        default: false
      - id: 11
        default: false
      - id: 17
        default: true
    languages:
      - name: Java
        id: java
        default: true
      - name: Kotlin
        id: kotlin
        default: false
    packagings:
      - name: Jar
        id: jar
        default: true
      - name: War
        id: war
        default: false
    group-id:
      value: org.demo
    artifact-id:
      value: my-app
    package-name:
      value: org.demo.myapp
    types:
      - name: Maven Project
        id: maven-project
        description: Generate a Maven based project archive
        tags:
          build: maven
          format: project
        default: true
        action: /starter.zip
      - name: Gradle Project
        id: gradle-project
        description: Generate a Gradle based project archive
        tags:
          build: gradle
          format: project
        default: false
        action: /starter.zip
    bootVersions:
      - id: 2.4.0-SNAPSHOT
        name: 2.4.0 (SNAPSHOT)
        default: false
      - id: 2.3.3.BUILD-SNAPSHOT
        name: 2.3.3 (SNAPSHOT)
        default: false
      - id: 2.3.2.RELEASE
        name: 2.3.2
        default: true
    dependencies:
      - name: bb
        content:
          - name: My API
            id: my-api
            groupId: org.acme
            artifactId: my-api
      - name: Web
        content:
          - name: Web
            id: web
spring:
  mustache:
    prefix: classpath:/templates/



